TZ=Europe/Paris
VPN_SERVICE_PROVIDER=nordvpn
VPN_TYPE=openvpn
OPENVPN_USER=CHANGE_ME_NORDVPN_SERVICE_USERNAME
OPENVPN_PASSWORD=CHANGE_ME_NORDVPN_SERVICE_PASSWORD
SERVER_COUNTRIES=France
LAN_SUBNET=192.168.1.0/24
